@use "../config/variables.scss" as *;

.about-us-section {
	margin-bottom: -$clip-path-distance-team;
	position: relative;
	z-index: 1;

	@media ($breakpoint-desktop-up) {
		margin-bottom: -$clip-path-distance-team-lg;
	}

	.about-us-text {
		padding: $gap-y $side-gap-mobile 0;

		&__columns {
			display: flex;
			flex-direction: column;

			@media ($breakpoint-desktop-up) {
				flex-direction: row;
				justify-content: center;
			}

			& > div {
				@media ($breakpoint-desktop-up) {
					flex-basis: 500px;
				}

				&:not(:last-of-type) {
					margin: 0 0 $side-gap-desktop;

					@media ($breakpoint-desktop-up) {
						margin: 0 $side-gap-desktop 0 0;
					}
				}

				p {
					margin-bottom: 1rem;
					color: $color-gray-2;
				}
			}
		}
	}

	.about-us-image-timeline {
		background-color: rgba(240, 128, 128, 0.5);
		height: 350px;
	}
}
