@use "../config/variables.scss" as *;

.contact-section {
	display: flex;
	flex-direction: column;

	@media ($breakpoint-desktop-up) {
		flex-direction: row;
	}

	&__form {
		padding: $clip-path-distance-team $side-gap-mobile 0;
		flex: 1 1;
		background-color: $color-white;

		@media ($breakpoint-desktop-up) {
			padding-bottom: $clip-path-distance-lg;
		}

		.form-wrapper {
			margin: $gap-y auto;
			max-width: 430px;

			h3 {
				margin-bottom: 0.5rem;
			}

			.subtitle {
				margin-bottom: 1rem;
			}

			form {
				width: 100%;
				display: flex;
				flex-direction: column;

				.input-wrapper {
					position: relative;
					padding: 1rem;
					border: 1px solid $color-black;
					background-color: $color-lightgray-3;
					margin-bottom: 1rem;

					input[type="text"],
					input[type="email"],
					textarea {
						width: 100%;
						color: $color-white;

						&:focus {
							outline: 0;
						}

						&[required] + label {
							color: $color-gray;

							&::after {
								content: "*";
							}
						}
					}

					textarea {
						background-color: inherit;
						border: 0;
					}

					label {
						position: absolute;
						top: 1rem;
						left: 1rem;
					}
				}

				input[type="submit"] {
					flex: 0 1 auto;
					padding: 1rem 1.5rem;
					border: 2px solid $color-black;
					color: $color-black;
					font-weight: $font-weight-bold;
					text-transform: uppercase;
					cursor: pointer;
				}
			}
		}
	}

	&__sponsors {
		padding: 0 $side-gap-mobile $clip-path-distance;
		flex: 1 1;
		background-color: $color-black;
		display: inline-flex;
		justify-content: space-around;
		align-items: center;

		@media ($breakpoint-desktop-up) {
			padding-bottom: $clip-path-distance-lg;
		}

		.logo-wrapper {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			width: 100%;

			@media ($breakpoint-desktop-up) {
				flex-direction: row;
			}

			.contact-logo {
				margin: ($gap-y / 2) 0;
				flex: 0 auto;
				display: inline-flex;
				width: 100%;
				max-width: 250px;
				flex-basis: calc(50% - 100px);
				background-image: url("#{$image-path}/background/christmas2.webp");
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;

				&:nth-of-type(even) {
					background-image: url("#{$image-path}/background/christmas3.webp");
				}

				@media ($breakpoint-desktop-up) {
					margin: $gap-y;
				}

				&::before {
					content: "";
					display: inline-block;
					$ratio: 230/116;
					padding-bottom: 100% / $ratio;
				}
			}
		}
	}
}
