@use "../config/variables.scss" as *;

footer {
	$clip-path-distance: 40px;
	$clip-path-distance-lg: 70px;
	$padding-y: 30px;

	clip-path: polygon(50% 0%, 100% $clip-path-distance, 100% 100%, 0 100%, 0% $clip-path-distance);
	margin-top: -$clip-path-distance;
	padding: calc(#{$clip-path-distance} + #{$padding-y}) $side-gap-mobile ($padding-y);

	background-color: $color-lightgray;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-size: $font-size-mobile-small;

	@media ($breakpoint-desktop-up) {
		clip-path: polygon(50% 0%, 100% $clip-path-distance-lg, 100% 100%, 0 100%, 0% $clip-path-distance-lg);
		margin-top: -$clip-path-distance-lg;
		padding: calc(#{$clip-path-distance-lg} + #{$padding-y}) $side-gap-mobile ($padding-y);

		flex-direction: row;
		justify-content: space-between;
		font-size: $font-size-desktop-small;
	}

	.footer__copyright,
	.footer__socials,
	.footer__links {
		flex: 1; // keep all children the same size
		display: flex; // align their children with flex
		align-items: center;
	}

	.footer__copyright {
		order: 3;
		color: $color-gray;

		@media ($breakpoint-desktop-up) {
			order: 0;
		}
	}

	.footer__socials {
		order: 2;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 2rem 0;

		@media ($breakpoint-desktop-up) {
			order: 0;
			margin: 0;
		}

		a {
			display: inline-block;
			height: 2rem;
			width: 2rem;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;

			&:not(:last-of-type) {
				margin-right: 0.5rem;
			}

			&.socials--twitter {
				background-image: url("#{$image-path}/icons/twitter.svg");
			}

			&.socials--facebook {
				background-image: url("#{$image-path}/icons/facebook.svg");
			}
		}
	}

	.footer__links {
		order: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		@media ($sm-up) {
			flex-direction: row;
		}

		@media ($breakpoint-desktop-up) {
			order: 0;
		}

		a {
			display: inline-block;

			&:not(:last-of-type) {
				margin-bottom: 0.5rem;

				@media ($sm-up) {
					margin-bottom: 0;
					margin-right: 1rem;
				}
			}
		}
	}
}
