@use "../config/variables.scss" as *;

.hero-section {
	margin: 0 auto (-$clip-path-distance);
	padding: $nav-height-mobile $side-gap-mobile 0;
	height: 100vh;
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - #{$clip-path-distance}), 50% 100%, 0 calc(100% - #{$clip-path-distance}));
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-image: url("#{$image-path}/background/christmas1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	@media ($breakpoint-desktop-up) {
		margin: 0 auto (-$clip-path-distance-lg);
		padding: $nav-height-desktop 0 0;
		clip-path: polygon(0 0, 100% 0, 100% calc(100% - #{$clip-path-distance-lg}), 50% 100%, 0 calc(100% - #{$clip-path-distance-lg}));
		height: 780px;
	}

	.hero-section__text {
		position: relative;
		height: 60%;
		text-align: center;
		text-transform: uppercase;
		overflow: hidden;

		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			top: 0;
			left: 45%;
			//background-color: pink;
			height: 100%;
			width: 100%;
			background-image: url("#{$image-path}/icons/compass.svg");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			z-index: -1;
		}

		@media ($breakpoint-desktop-up) {
			max-width: 40%;
		}

		h1 {
			margin-bottom: 1rem;
			color: $color-accent;
			line-height: 1.2;
		}
	}
}
