@use "../config/variables.scss" as *;

.nav-top {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	width: 100%;
	height: $nav-height-mobile;
	display: flex;
	z-index: $z-index-navigation;

	@media ($breakpoint-desktop-up) {
		height: $nav-height-desktop;
	}

	.burger-icon {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 100%;
		cursor: pointer;
		z-index: $z-index-navigation;

		@media ($breakpoint-desktop-up) {
			display: none;
		}

		.line {
			$burger-icon-line-height: 2px;
			position: absolute;
			top: 0;
			left: 0;
			height: $burger-icon-line-height;
			width: 100%;
			background-color: $color-black;
			transition-property: transform, opacity, width;
			transition-duration: $anim-speed-fast;
			transition-timing-function: $timing-function-default;
			transform-origin: center;
			transform: translateY(-50%);

			&:nth-of-type(1) {
				top: $burger-icon-line-height;
			}
			&:nth-of-type(2) {
				top: 50%;
			}
			&:nth-of-type(3) {
				top: calc(100% - #{$burger-icon-line-height});
			}
		}

		&.opened {
			.line {
				&:nth-of-type(1) {
					transform: translateY(16px) rotate(-45deg);
					top: -2px;
					width: 80%;
				}
				&:nth-of-type(2) {
					opacity: 0;
				}
				&:nth-of-type(3) {
					transform: translateY(-14px) rotate(45deg);
					top: calc(100% - 2px);
					width: 80%;
				}
			}
		}
	}

	.nav-top__menu-area {
		padding: 10px $side-gap-mobile;
		flex-basis: (100% / 2);
		background-color: $color-white;
		z-index: $z-index-navigation;

		@media ($breakpoint-desktop-up) {
			flex-basis: (100% / 3) * 2;
		}

		ul {
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			padding: $nav-height-mobile $side-gap-mobile;
			overflow: hidden;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			list-style: none;
			font-weight: $font-weight-bold;
			text-transform: uppercase;
			background-color: $color-white;
			opacity: 0;
			pointer-events: none;
			transition: opacity $anim-speed-default $timing-function-default;
			z-index: $z-index-navigation - 1;

			&.opened {
				opacity: 1;
				pointer-events: auto;
			}

			@media ($breakpoint-desktop-up) {
				padding: 0 $side-gap-desktop;
				justify-content: flex-start;
				flex-direction: row;
				height: 100%;
				width: auto;
				opacity: 1;
				pointer-events: auto;
			}

			li {
				display: inline-block;

				&:not(:last-of-type) {
					margin: 0 0 1rem;

					@media ($breakpoint-desktop-up) {
						margin: 0 $side-gap-desktop 0 0;
					}
				}
			}
		}
	}

	.nav-top__logo-area {
		position: relative;
		flex: 1;
		padding: 10px $side-gap-mobile;
		background-color: $color-accent;
		display: flex;
		align-items: center;
		z-index: $z-index-navigation;

		@media ($breakpoint-desktop-up) {
			padding: 10px $side-gap-desktop;
		}

		.nav-top__logo {
			height: 100%;
			$ratio: 270/55;
			width: (100% / $ratio) * 3;
			margin-left: auto;
			background-image: url($logo-path);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}
}
