@use "../config/variables.scss" as *;

.team-section {
	margin-bottom: -$clip-path-distance-team;
	padding: $clip-path-distance-team $side-gap-mobile;
	clip-path: polygon(0 $clip-path-distance-team, 100% 0, 100% calc(100% - #{$clip-path-distance-team}), 0% 100%);

	background-color: $color-black;
	color: $color-white;

	@media ($breakpoint-desktop-up) {
		clip-path: polygon(0 $clip-path-distance-team-lg, 100% 0, 100% 100%, 0% 100%);
		padding: $clip-path-distance-team-lg 0 0;
	}

	.section-header {
		margin-top: $gap-y;

		&::after {
			background-color: $color-white;
		}
	}

	.team-section__cards {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		margin-bottom: $gap-y;

		@media ($sm-up) {
			flex-direction: row;
		}

		.team-section__card {
			position: relative;
			background-color: $color-lightgray;
			display: inline-block;
			width: 100%;
			max-width: 350px;
			background-color: $color-lightgray;
			color: $color-black;
			z-index: 0;

			// TODO: try this with custom properties to be updateable per js and avod repitition in css
			@media (min-width: #{$sm}px) and (max-width: #{($lg - 1)}px) {
				$cards-per-row: 2;
				$rows: 10;

				max-width: none;
				width: calc(100% / #{$cards-per-row});

				&:hover,
				.hover {
					//z-index: 3; // this works on all cards but prevents the fadeout to be visible

					.team-section__card__content {
						left: 100%;
					}
				}

				&:nth-child(#{$cards-per-row}n) {
					.team-section__card__content {
						left: auto;
						right: 0;
					}

					&:hover,
					.hover {
						.team-section__card__content {
							right: 100%;
						}
					}
				}

				// this is a workaround to show the card fadout on all cards
				// it only works with as many rows as you set here though, so this can be improved
				$team-cards: ($cards-per-row * $rows);
				@for $i from 1 through $team-cards {
					&:nth-child(#{$i}) {
						z-index: $team-cards - $i;
					}
					&:nth-child(#{$cards-per-row}n) {
						&:hover,
						.hover {
							z-index: $i;
						}
					}
				}
			}

			@media ($breakpoint-desktop-up) {
				// repeat the idea from the previous breakpoint
				$cards-per-row: 5;
				$rows: 4;

				width: calc(100% / #{$cards-per-row});

				&:hover,
				.hover {
					//z-index: 3; // this works on all cards but prevents the fadeout to be visible

					.team-section__card__content {
						left: 100%;
					}
				}

				&:nth-child(#{$cards-per-row}n) {
					.team-section__card__content {
						left: auto;
						right: 0;
					}

					&:hover,
					.hover {
						.team-section__card__content {
							right: 100%;
						}
					}
				}

				$team-cards: ($cards-per-row * $rows);
				@for $i from 1 through $team-cards {
					&:nth-child(#{$i}) {
						z-index: $team-cards - $i;
					}
					&:nth-child(#{$cards-per-row}n) {
						&:hover,
						.hover {
							z-index: $i;
						}
					}
				}
			}

			&::before {
				content: "";
				display: inline-block;
				$ratio: 1/1;
				padding-bottom: 100% / $ratio;
			}

			.team-section__card__content,
			img {
				position: absolute;
				display: inline-block;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			.team-section__card__content {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				padding: 2rem;
				background-color: $color-lightgray;
				transition-property: left, right, opacity;
				transition-duration: $anim-speed-default;
				transition-timing-function: $timing-function-default;
				pointer-events: none;
				opacity: 0;

				@media ($sm-up) {
					opacity: 1;
				}

				.subtitle {
					text-transform: uppercase;
					margin-bottom: 0.5rem;
				}
			}

			// on mobile toggle the card content by click
			@media (max-width: #{($sm - 1)}px) {
				&.clicked {
					.team-section__card__content {
						opacity: 0.8;
						z-index: 3;
					}
				}
			}

			img {
				display: inline-block;
				object-fit: cover;
				object-position: center;
				z-index: 1;
			}
		}
	}
}
