@use "../config/variables.scss" as *;

.team-section {
	margin-bottom: -$clip-path-distance-team;
	padding: $clip-path-distance-team $side-gap-mobile;
	clip-path: polygon(0 $clip-path-distance-team, 100% 0, 100% calc(100% - #{$clip-path-distance-team}), 0% 100%);

	background-color: $color-black;
	color: $color-white;

	@media ($breakpoint-desktop-up) {
		clip-path: polygon(0 $clip-path-distance-team-lg, 100% 0, 100% 100%, 0% 100%);
		padding: $clip-path-distance-team-lg 0 0;
	}

	.section-header {
		margin-top: $gap-y;

		&::after {
			background-color: $color-white;
		}
	}

	.team-section__cards {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: $gap-y;

		.team-section__card {
			$cards-per-row: 5;

			position: relative;
			background-color: $color-lightgray;
			display: inline-block;
			width: calc(100% / #{$cards-per-row});
			background-color: $color-lightgray;
			color: $color-black;
			z-index: 2;

			@for $i from 1 through $cards-per-row {
				&:nth-child(#{$i}) {
					z-index: $cards-per-row - $i;
				}
				&:nth-child(#{$cards-per-row}) {
					z-index: $i;
				}
			}

			&::before {
				content: "";
				display: inline-block;
				$ratio: 1/1;
				padding-bottom: 100% / $ratio;
			}

			.team-section__card__content,
			img {
				position: absolute;
				display: inline-block;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			.team-section__card__content {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				padding: 2rem;
				background-color: $color-lightgray;
				transition-property: left, right;
				transition-duration: 1s;
				transition-timing-function: $timing-function-default;
				pointer-events: none;

				.subtitle {
					text-transform: uppercase;
					margin-bottom: 0.5rem;
				}
			}

			&:hover {
				.team-section__card__content {
					left: 100%;
				}
			}

			&:nth-child(#{$cards-per-row}),
			&:nth-child(#{$cards-per-row - 1}) {
				.team-section__card__content {
					left: auto;
					right: 0;
				}

				&:hover {
					.team-section__card__content {
						right: 100%;
					}
				}
			}

			img {
				display: inline-block;
				object-fit: cover;
				object-position: center;
				z-index: 1;
			}
		}
	}
}
