// custom mixins

@use "../config/variables.scss" as *;

@mixin time-default-styles() {
	display: inline-block;
	font-weight: $font-weight-bold;
	color: $color-gray;

	&::before {
		content: "";
		display: inline-block;
		margin-right: 0.5em;
		height: 1.8675em;
		width: 1.8675em;
		background-image: url("#{$image-path}/icons/calendar-gray.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}

@mixin animated-unterline() {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		height: 2px;
		width: 0;
		background-color: $color-black;
		transition: width $anim-speed-default $timing-function-default;
	}

	&:hover,
	&.active {
		&::after {
			width: 100%;
		}
	}
}
