// base typography rules

@use "../config/variables.scss" as *;

html {
	font-size: 100%;
}

body {
	font-family: $font-family-default;
	font-size: 1rem;
	line-height: 1.4;
	overflow-wrap: break-word;
	hyphens: auto;

	@media (max-width: 300px) {
		font-size: 6vw;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: $font-weight-bold;
}

// style h1 and h2 the same, the difference should be in context for seo
// headlines
h1,
h2 {
	font-size: $font-size-mobile-headline;

	@media ($breakpoint-desktop-up) {
		font-size: $font-size-desktop-headline;
	}
}

// subtitles big
h3 {
	font-size: $font-size-mobile-subtitle-big;

	@media ($breakpoint-desktop-up) {
		font-size: $font-size-desktop-subtitle-big;
	}
}

// subtitles
h4,
h5,
h6 {
	font-size: $font-size-mobile-subtitle;

	@media ($breakpoint-desktop-up) {
		font-size: $font-size-desktop-subtitle;
	}
}

.headline-hero {
	font-size: $font-size-mobile-headline-hero;

	@media ($breakpoint-desktop-up) {
		font-size: $font-size-desktop-headline-hero;
	}
}
