// base typography rules

@use "../config/variables.scss" as *;

$breakpoint-down-responsive-font-sizes: "max-width: 320px";

html {
	font-size: 100%;
}

body {
	font-family: $font-family-default;
	font-size: $font-size-mobile;
	line-height: $line-height-default;
	overflow-wrap: break-word;
	hyphens: auto;

	@media ($breakpoint-down-responsive-font-sizes) {
		font-size: 5vw;
	}

	@media ($breakpoint-desktop-up) {
		font-size: $font-size-desktop;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
.headline-hero,
.headline,
.subtitle-big,
.subtitle {
	font-weight: $font-weight-bold;
	text-transform: uppercase;
}

// style h1 and h2 the same, the difference should be in context for seo
// headlines
h1,
h2,
.headline {
	font-size: $font-size-mobile-headline;

	@media ($breakpoint-desktop-up) {
		font-size: $font-size-desktop-headline;
	}
}

// biggest headlines
.headline-hero {
	font-size: $font-size-mobile-headline-hero;

	@media ($breakpoint-down-responsive-font-sizes) {
		font-size: 10vw;
	}

	@media ($breakpoint-desktop-up) {
		font-size: $font-size-desktop-headline-hero;
	}
}

// subtitles big
h3,
.subtitle-big {
	font-size: $font-size-mobile-subtitle-big;

	@media ($breakpoint-down-responsive-font-sizes) {
		font-size: 7vw;
	}

	@media ($breakpoint-desktop-up) {
		font-size: $font-size-desktop-subtitle-big;
	}
}

// subtitles
h4,
h5,
h6,
.subtitle {
	font-size: $font-size-mobile-subtitle;

	@media ($breakpoint-down-responsive-font-sizes) {
		font-size: 6vw;
	}

	@media ($breakpoint-desktop-up) {
		font-size: $font-size-desktop-subtitle;
	}
}

.color-accent {
	color: $color-accent;
}

.bold {
	font-weight: $font-weight-bold;
}
