// variables

// breakpoints
$sm: 640 !default;
$md: 768 !default;
$lg: 1024 !default;
$xl: 1280 !default;
$xxl: 1920 !default;

$sm-up: "min-width: #{$sm}px";
$md-up: "min-width: #{$md}px";
$lg-up: "min-width: #{$lg}px";
$xl-up: "min-width: #{$xl}px";
$xxl-up: "min-width: #{$xxl}px";

$breakpoint-desktop-up: $lg-up; // breakpoint where most of the layout changes from mobile to desktop

// paths
$image-path: "/src/images";
$logo-path: "#{$image-path}/logo/logo-white.png";

// colors
$color-black: #000;
$color-white: #fff;
$color-gray: #717171;
$color-accent: #c4132f;
$color-lightgray: #e5eaee;
$color-lightgray-2: #eeeeee; // used in "old articles preview"
$color-lightgray-3: #e8e8e8; // used in "form background"

// typography
// fonts
$font-family-default: "arial-mt", serif, Arial, sans-serif;

// font-weights
$font-weight-default: 400;
$font-weight-bold: 700;

// font-sizes
// mobile (not given in screendesign, adjust if needed)
$font-size-mobile-small: 0.8125rem; // 13px
$font-size-mobile: 0.9375rem; // 15px
$font-size-mobile-subtitle: 1.25rem; // 20px
$font-size-mobile-subtitle-big: 1.5625em; // 25px
$font-size-mobile-headline: 1.875rem; // 30px
$font-size-mobile-headline-hero: 2.5rem; // 40px
// desktop
$font-size-desktop-small: 0.8125rem; // 13px
$font-size-desktop: $font-size-mobile; // 15px
$font-size-desktop-alt: 1rem; // 16px - used in "nav top"
$font-size-desktop-subtitle: 1.25rem; // 20px
$font-size-desktop-subtitle-big: 1.875rem; // 30px
$font-size-desktop-headline: 3.125rem; // 50px
$font-size-desktop-headline-hero: 4.125rem; // 66px

// common widths
$side-gap-mobile: 15px;
$side-gap-desktop: 50px;
$max-width-desktop: 1400px;
$nav-height-mobile: 50px;
$nav-height-desktop: 82px;
$gap-y: 50px;
$gap-y-lg: 100px;

// z-indexes
$z-index-navigation: 200;
$z-index-modals: 100;

// animation speeds
$anim-speed-fast: 0.2s;
$anim-speed-default: 0.4s;
$anim-speed-slow: 0.6s;

// timing functions
$timing-function-default: ease-in-out;

// utility variables which are reused across multiple files
$clip-path-distance: 40px;
$clip-path-distance-lg: 70px;
$clip-path-distance-team: 50px;
$clip-path-distance-team-lg: 150px;
