@use "../../config/variables.scss" as *;
@use "../../config/mixins.scss" as *;

.news-modal {
	&__content {
		padding: ($gap-y / 2) $side-gap-mobile;
		display: flex;
		flex-direction: column;

		@media ($breakpoint-desktop-up) {
			padding: 25px 75px 50px;
			flex-direction: row;
			justify-content: space-between;
		}

		&__col1,
		&__col2 {
			@media ($breakpoint-desktop-up) {
				width: calc(50% - #{$gap-y} / 2);
			}
		}

		time {
			@include time-default-styles;
			margin-bottom: 1rem;

			@media ($breakpoint-desktop-up) {
				margin-bottom: calc(#{$gap-y} - 15px);
			}
		}

		h1 {
			line-height: 1;
			margin-bottom: 1rem;
		}

		h3 {
			border-bottom: 1px solid $color-lightgray-4;
			margin-bottom: ($gap-y / 2);
			padding-bottom: 1rem;

			@media ($breakpoint-desktop-up) {
				margin-bottom: $gap-y;
			}
		}

		p {
			color: $color-gray-2;
			margin-bottom: 1rem;
		}

		.news-swiper {
			margin-bottom: 1rem;

			&.swiper-container {
				.swiper-wrapper {
					.swiper-slide {
						position: relative;
						display: inline-block;
						$ratio: 500/350;
						padding-bottom: (100% / $ratio);

						img {
							@include absolute-image-default-styles;
						}
					}
				}

				.swiper-pagination {
					position: relative;
					bottom: auto;
					text-align: end;
					font-weight: $font-weight-bold;
				}

				.swiper-button-prev,
				.swiper-button-next {
					width: $swiper-navigation-button-size;
					height: $swiper-navigation-button-size;
					color: $color-white;
					background-color: rgba(0, 0, 0, 0.6);

					&::after {
						font-size: $font-size-desktop-subtitle;
						font-weight: bold;
					}
				}

				.swiper-button-prev {
					left: 0;
				}

				.swiper-button-next {
					right: 0;
				}
			}
		}
	}

	&__more {
		padding: ($gap-y / 2) 0;
		background-color: $color-lightgray-2;

		@media ($breakpoint-desktop-up) {
			padding: 25px 0 50px;
		}

		& > .subtitle {
			margin-bottom: 1rem;
			padding: 0 $side-gap-mobile;

			@media ($breakpoint-desktop-up) {
				padding: 0 75px;
			}
		}

		.article-swiper-outer {
			position: relative;
			padding: 0 $side-gap-mobile;

			@media ($breakpoint-desktop-up) {
				padding: 0 75px;
			}

			.article-swiper {
				&.swiper-container {
					.swiper-wrapper {
						.swiper-slide {
							width: 25%;

							.swiper-image-wrapper {
								margin-bottom: 1rem;
								width: 100%;
								position: relative;
								display: inline-block;
								$ratio: 240/150;
								padding-bottom: (100% / $ratio);

								img {
									@include absolute-image-default-styles;
								}
							}

							.subtitle {
								margin-bottom: 1rem;
							}
						}
					}
				}
			}

			.swiper-button-prev,
			.swiper-button-next {
				width: $swiper-navigation-button-size;
				height: $swiper-navigation-button-size;
				background-color: rgba(255, 255, 255, 0.6);

				@media ($breakpoint-desktop-up) {
					background-color: transparent;
				}

				&::after {
					font-size: $font-size-desktop-subtitle;
					font-weight: bold;
				}
			}
		}
	}
}
